@model EdejaZadatak.Models.Faktura

@{
    ViewBag.Title = "Details";
}

<h2>Detalji i stavke fakture</h2>

<div>
    <h4>Faktura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatumFakture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumFakture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ukupno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ukupno)
        </dd>

    </dl>
</div> 
<table class="table table-responsive table-condensed">
    <tr>
        <th>Redni broj</th>
        <th>Kolicina</th>
        <th>Cena</th>
        <th>Ukupno</th>
        <th>Izmeni</th>
        <th>Obrisi</th>
    </tr>
    @foreach (var item in Model.Stavkas)
    {
        <tr>
            <th>@Html.DisplayFor(ModelItem => item.RedniBroj)</th>
            <th>@Html.DisplayFor(ModelItem => item.Kolicina)</th>
            <th>@Html.DisplayFor(ModelItem => item.Cena)</th>
            <th>@Html.DisplayFor(ModelItem => item.Ukupno)</th>
            <th>@Html.ActionLink("Izmeni ", "Edit", "Stavkas", new { br = item.BrojFakture, rb = item.RedniBroj }, null)</th>
            <th>@Html.ActionLink(linkText: "Obrisi",
                                actionName: "Delete",
                                controllerName: "Stavkas",
                                routeValues: new
                                    {
                                        br = item.BrojFakture,
                                        rb = item.RedniBroj
                                    },
                                htmlAttributes: null)
            </th>
        </tr>
    }
</table> 

<p>
    @Html.ActionLink("Dodaj novu stavku", "Create","Stavkas", new { id = Model.BrojFakture },null) |
    @Html.ActionLink("Nazad na listu faktura", "Index")
</p>
