@model IEnumerable<EdejaZadatak.Models.Faktura>

@{
    ViewBag.Title = "Index";
}

<h2>Lista faktura</h2>

<p>
    @Html.ActionLink("Nova faktura", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrojFakture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumFakture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ukupno)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrojFakture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumFakture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ukupno)
        </td>
        <td>
            @Html.ActionLink("Promeni stavke fakture", "Details", new { id = item.BrojFakture }) |
            @Html.ActionLink("Obrisi", "Delete", new { id = item.BrojFakture })
        </td>
    </tr>
}

</table>
